
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Background Centering */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #eac6f7, #f4e4ba);
  padding: 1rem;
}

/* Main Box */
.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  width: 400px;
  min-height: 45vh;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-5px);
}

/* Heading */
.container h2 {
  text-align: center;
  color: #333;
  font-weight: 600;
}

/* Input  */
form {
  margin: 2rem 0 1rem 0;
}

form input {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.75rem;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.8rem;
  outline: none;
  transition: border 0.3s ease;
}

form input:focus {
  border-color: #af4d98;
}

/* Dropdown Section */
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.dropdown i {
  font-size: 1.5rem;
  color: #af4d98;
  margin-top: 1rem;
}

/* Select Container */
.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  padding: 0.4rem 0.6rem;
  background-color: #fafafa;
  transition: 0.3s;
}

.select-container:hover {
  border-color: #af4d98;
  background-color: #fff;
}

.select-container img {
  max-width: 2rem;
  margin-right: 0.5rem;
}

.select-container select {
  font-size: 1rem;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #333;
}

/* Result Message */
.msg {
  text-align: center;
  margin: 2rem 0;
  color: #444;
  font-size: 1.05rem;
}

/* Button Styling */
.button {
  width: 100%;
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #953f83;
}

/*media query */
@media (max-width: 768px) {
  .container {
    width: 85%;
    padding: 1.5rem;
  }

  .dropdown {
    flex-direction: column;
    gap: 1.5rem;
  }

  .select-container {
    width: 100%;
  }

  .dropdown i {
    transform: rotate(90deg);
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 95%;
    border-radius: 0.75rem;
  }

  form input {
    font-size: 0.95rem;
  }

  .msg {
    font-size: 0.95rem;
  }

  form button {
    font-size: 1rem;
  }
}
